 /* Header */
 body {
  font-style: Arial, helvetica, san serif;
  background: url(dashboard.jpeg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

/* Header */
 header {
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  justify-content: center; 
  object-fit: contain;
}

.greeting {
  margin-left: 2em;
}

.greeting img {
  border-radius: 50%;
  width: 90%;
  height: 90%;
}


 /* Navigation */
.navigation ul {
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  grid-gap: 5px;
  padding: 0;
}

.navigation a {
  display: block;
  text-decoration: none;
  padding: .6rem 1.3rem;
  text-align: center;
  background: rgb(2, 2, 82);
  color: white; 
  font-size: 1.3rem;
  text-transform: uppercase;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.navigation a:hover {

}

/* Main */
.main-container {
    display: grid;
    grid-gap: 20px;
    padding: .2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        'title todo'
        'Mcontent todo';
    align-content: start;
    justify-items: start;
}

.title {
    grid-area: title;
}

.Mcontent {
    grid-area: Mcontent;
    text-align: left;
}

.todo ul {
  background: #0000ff65; 
  grid-area: todo;
}

.todo li {
  padding: .5em .5em;
}

.todo .heading {
    margin: .2em;
}

/* Aside */
.aside {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: .2em;
  justify-items: center;
  align-items: center;
}

.calc-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .5em;
    border: solid 1px;
    border-radius: 5% 5%;
    width: 200px;
    height: 300px;
    background: rgba(211, 211, 211, 0.527);
    margin-left: .3em;
  }
  
  .display {
    margin: 1em .5em;
    grid-column: 1/5;
    width: 90%;
    height: 50px;
  }
  
  .digitbutton {
    margin: .2em;
    background: lightblue;
  }
  
  .operator {
    padding: .1em;
    margin: .3em;
    background: darkgray;
  }

  .calendar {
    border: solid black 1px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 2px;
    width: 300px;
    height: auto;
    background: rgba(255, 255, 255, 0.89);
  }
  
  .header {
    grid-column: 1 / 8;
    grid-row: 1/2;
    display: flex;
    background: rgba(255, 255, 255, 0.534);
    align-items: center;
    justify-items: center;
    border-bottom: solid black 1px;
    margin-block-start: 0em;
  }
  
  .weekdays {
    grid-column: 1/8;
    align-items: center;
    margin-left: 1.8em;
    margin-block-end: 0em;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 1em;
  }
  
  .days {
    grid-column: 1/8;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1em;
    margin-block-start: 0em;
  }
  
  .days li {
    display: flex;
    align-content: center;
    justify-content: center;
    list-style: none;
    border: solid lightgrey 1px;
    width: auto;
    height: auto;
  }

header {
    grid-area: header;
  }
  main {
    grid-area: main;
    margin: 4em;
  }
  nav {
    grid-area: nav;
  }
  aside {
    grid-area: aside;
  }

  /* Banner with Flex Calculator */
  .banner {
    background: purple;
    grid-area: banner;
    display: flex;
    justify-content: space-between;
    padding: .2em;
  }

  .flex-calc-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 300px;
    height: auto;
    background: lightgrey;
    border: solid black 1px;
  }
  
  .flex-display {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(43, 129, 43);
    background: rgb(209, 200, 200);
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    width: 100%;
    height: 4rem;
    margin: 1em 3em;
  }
  
  .btns-container {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: stretch;
    margin: .3em;
  }
  .num-btn {
    display: block;
    width: 70px;
    height: 70px;
  }
  
  .op-btn {
    display: block;
    width: 80px;
    height: auto;
    color: red;
  }

  footer {
    background: red;
    grid-area: footer;
    text-align: center;
    font-size: 2rem;
  }

  .container {
    display: grid; 
    grid-template-areas: 
      "header"
      "nav"
      "main"
      "aside"
      "banner"
      "footer";
  }

  /* Having Issues with Keeping Background Image from Affecting the Responsiveness */

  @media (min-width: 500px) {
    .container {
      display: grid;
      grid-template-columns: 1fr 3fr; /* the first column is 1 unit (fraction), the second column is 3 units */
      grid-template-areas: /* stack the components how you want them to appear in the columns */
        "header  header" /* stretch header across both columns at the top */
        "nav     nav"
        "aside   main" /* stack these horizontally, aside first, etc */
        "banner  footer";
    }
    
  }

  @media (min-width: 900px) {
    
    .container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    }

    .navigation ul {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    .navigation a {
      width: 15rem;
      height: auto;
    }
    .greeting {
      display: flex;
      align-content: center;
      justify-content: center;
    }
    
    .greeting img {
      width: 500px;
      height: auto;
    }
  }
