body {
    background: white;
    margin-left: 20px;
}

header > h1 {
    font-style: bolder;
    font-size: 35px;
}

main{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 0;
}

section {
    margin-bottom: 15px;
}

.section-head {
    font-size: 20px;
    border-bottom: solid .2px;
}

#left-side {
    display: grid;
    grid-column: 1/2;
}

#right-side {
    display: grid;
    grid-column: 2/2;
    margin-left: 30px;
}

.date {
    float: left;
}