html, body {
    margin: 0;
    padding: 0;
}

header {
    font-size: 2em;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.intro-container {
    display: flex;
    justify-content: center;
    background: palegreen;
}


#introduction {
    width: 70%;
}

.imagewrapper {
    border: 1px solid red;
    text-align: center;
}

 .imagewrapper img {
    width: 90%;
    height: auto;
}

#music .imagewrapper h2 {
    position: absolute;
    bottom: 85%;
    left: 10%;
    border: 1px solid black;
    background: white;
    padding: .2em;
}

#logic .imagewrapper h2 {
    position: absolute;
    bottom: 92.5%;
    left: 10%;
    border: 1px solid black;
    background: white;
    padding: .2em;
}

#interests .imagewrapper h2 {
    position: absolute;
    bottom: 94%;
    left: 10%;
    border: 1px solid black;
    background: white;
    padding: .2em;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 2em 0;
}

.dropdown-content {
    box-sizing: border-box;
    width: 100%;
    display: none;
    position: relative;
    background-color: blue;
    min-width: 400px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.DC-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1em;
}

.pics-container {
    display: flexbox;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.pics-container img {
    min-width: 100px;
    max-width: 100%;
    height: auto;
}

