body {
    background-image: url("../images/LLLpic.jpg");
    background-repeat: no-repeat;
    background-attachment: absolute;
    background-size: cover;  
}

ul {
    list-style: none;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    display: inline-block;
    position: relative;
    background: rgba(255, 255, 255, 0.555);
    border-radius: 3px 3px;
    padding: 10px;
    margin: 0 1em;
}

nav ul li a {
    text-decoration: none;
    padding: 5px;
}

nav ul li ul {
    display: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.438);
}

nav ul li ul li a {
    
}

main {
   display: grid;
   grid-template-columns: 1fr;
   color: rgb(6, 6, 7);
   margin-bottom: 2em;
}

#reasons {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}

#reasons-to {
    list-style-image: url("../images/envelope_icon.png");
    font-size: 1.2em;
    width: 100%;
    height: auto;
}

#reasons-to li {
    background: rgba(156, 156, 199, 0.377);
    width: 60%;
    text-align: center;
    padding: .5em 0em;
    margin: 10px;
}

#reasons-not {
    list-style-image: url("../images/envelope_icon.png");
    font-size: 1.2em;
}

#reasons-not li {
    background: rgba(156, 156, 199, 0.377);
    width: 60%;
    text-align: center;
    padding: .5em 0em;
    margin: 10px;
}

form {
    width: 100%;
    margin: 2em 0;
}

label {
    display: block;
    margin: 1em .5em;
}

#name {
    width: 15%;
}

#email-address {
    width: 15%;
}

#message-heading {
    float: left;
    width: 50%;
    margin-bottom: .5em;
}

#message {
    resize: none;
    width: 100%;
    height: 10em;
    background: rgba(255, 255, 255, 0.493);
}

label>input {
    width: 55%;
    height: 1.5em;
    background: rgba(255, 255, 255, 0.493);
}

#submit {
    margin: 2em;
    padding: 1em;
    background: rgba(255, 255, 255, 0.493);
}


@media (min-width: 900px) {
    header {
        flex-direction: column;
        align-content: center;
    }

    #invite {
        font-size: 2em;
        margin-left: 1em;
    }

    header nav {
        margin-left: 4em;
    }

    Main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    #reasons {
        box-sizing: border-box;
        grid-column: 2/3;
        margin-left: 3em;
        width: 80%;
    }

    #reasons-to {
        margin-left: 2em;
    }

    #reasons-not {
        margin-left: 2em;
    }

    form {
        grid-column: 1/2;
        grid-row: 1;
    }

}
