header {
    width: 100%;
    height: auto;
    text-align: center;
}

header h1 {
    margin-bottom: 2em;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

#board-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.squares {
    min-width: 100px;
    min-height: 100px;
    border: 1px solid;
    text-align: center;
    font-size: 4em;
}



#buttons-container input[type=button] {
    width: 100px;
    height: auto;
    padding: 1em 0;
    font-size: 2em;
    margin: .5em .5em;
}

#clear {
    width: 130px;
    height: auto;
    padding: 1em 0;
    font-size: 2em;
}